:root {
  --primary-color: #2563eb;
  --primary-hover: #1d4ed8;
  --background-color: #f8fafc;
  --card-background: #ffffff;
  --error-color: #ec2d2d;
  --error-bg-color: #fbdfdf;
  --text-primary: #303d52;
  --text-success: #2c990b;
  --text-secondary: #64748b;
  --border-color: #2563eb;
  --shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
  --code-background: rgba(0, 123, 255, 0.5);
}

h2,
h3,
h4 {
  color: var(--text-primary);
  margin-bottom: 1rem;
}

.container {
  max-width: 1300px;
  margin: 0 auto;
  width:100%;
  padding-top: 20px;
  font-family: "Inter", sans-serif;
  background: var(--background-color);
  min-height: 100vh;
}

.card {
  background-color: var(--card-background);
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0, 123, 255, 0.5);
  padding: 2rem;
  margin-left:1rem;
  margin-right:1rem;
  margin-bottom: 2rem;
}

.file-upload input[type="file"] {
  width: 50%;
  padding: 0.75rem;
  border: 2px dashed var(--border-color);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: border-color 1s ease;
}

input {
  padding: 0.5rem;
  cursor: pointer;
  margin: 0 auto;
}

.file-status {
  width: 50%;
  margin: 1rem 0;
  padding: 0.5rem 10px;
  font-size: 14px;
  color: var(--text-success);
  background: rgba(108, 237, 65, 0.1);
  border: 1px solid var(--text-success);
  border-radius: 5px;
}

.file-status:hover {
  background-color: rgb(219, 251, 219);
}

.error-message {
  width: 50%;
  margin: 2px 0;
  padding: 0.5rem;
  color: var(--error-color);
  background: var(--error-bg-color);
  border: 2px dashed #e59e9e;
  border-radius: 5px;
}

.loading {
  text-align: center;
  color: #007bff;
  font-weight: bold;
  margin: 1rem 0;
}

.operation-tabs {
  display: flex;
  margin-bottom: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.tab-button {
  margin: 0 5px 5px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: bold;
  border: 0.5px solid var(--primary-hover);
  color: var(--primary-hover);
  background: none;
  cursor: pointer;
  transition: all 0.3s;
}

.tab-button:hover {
  background-color: rgb(198, 223, 249);
  color: #fff;
}

.tab-button.active {
  background-color: #007bff;
  color: #fff;
}

.operation-container {
  margin-bottom: 2px;
  padding: 5px;
  border-radius: 6px;
}

.operation-input {
  display: flex;
  gap: 10px;
  width: 70%;
}

.operation-input input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  background-color: var(--background-color);
  border-radius: 10px;
  outline: none;
  color: #3f4c69;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.operation-input input:focus {
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.operation-btn {
  background-color: #fff;
  color: #007bff;
  border: 1.5px solid #3168ff;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px 15px;
  transition: background-color 0.1s;
}

button {
  background-color: var(--primary-hover);
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 2px;
  cursor: pointer;
  transition: background-color 0.1s;
}

button:hover {
  background-color: rgb(163, 184, 219);
}

button:disabled {
  background-color: rgb(247, 247, 247);
  color: rgb(87, 116, 198);
  cursor: not-allowed;
}

.results-panel {
  margin-top: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 6px;
}

.visualizations-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 0.5fr));
  gap: 1rem;
  margin: 15px 0 0 5rem;
}

.visualization-card {
  width: 85%;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.visualization-image {
  max-width: 80%;
  height: auto;
  border-radius: 4px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  padding: 5px;
  background-color: #fff;
  border-radius: 8px;
  overflow: auto;
}

.modal-image {
  width: 80%;
  max-width: 100%;
  max-height: 90vh;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.code-section {
  margin-top: 15px;
  padding: 10px;
  background-color: #fff;
  border-radius: 4px;
  overflow-x: auto;
}

.code-section pre {
  margin: 0;
  white-space: pre-wrap;
  font-family: monospace;
}

.warning {
  margin-top: 10px;
  font-style: italic;
  color: #666;
}
